table.imagetable {
    font-family: Verdana, Arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width:1px;
    border-color:#999999;
    border-collapse:collapse;
}
table.imagetable th{
    background-color:#00483a;
    color:#fff;
    border-width:1px;
    padding:8px;
    border-style:solid;
    border-color:#999999;

}

table.imagetable td{
    background:#dcddc0 url('cell-grey.jpg');
    border-width: 1px;
    padding:8px;
    border-style:solid;
    border-color:#999999;
}
